#pgRoomsForm{
    .btnMenuInterior{
        background: none;
        font-size: 22px;
    }
    .trianguloAbsolute{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
        height: 327px;
        width: 100%;
        transform: translateX(50%);
        overflow: hidden;
    }
    .estructuraFlex{
        /*display: flex;
        justify-content: space-between;
        flex-direction: column;*/
        padding: 35px 20px;
        position: relative;
        z-index: 2;
        height: 100%;
        .central{
            text-align: center;
            .icono{
                margin-bottom: 15px;
            }
            h2{
                font-size: 20px;
                font-weight: 600;
            }
            p{
                font-size: 16px;
                color: #777777;
            }
        }
    }
    .estructuraFlex.saveFaldon{
        padding-bottom: 96px;
        overflow-y: auto;
    }

    .titular{
        display: flex;
        align-items: center;
        margin-top: 10px;
        height: 25px;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            right: 0;
            bottom: 4pt;
            height: 1pt;
            background-color: #BAC4D3;
            width: 100%;
        }
        div{
            background-color: white;
            position: relative;
            z-index: 2;
        }
        img{
            margin-right: 7px;
            display: block;
        }
        h3{
            margin: 0;
            font-size: 14px;
            font-weight: normal;
            padding-right: 10px;
            span{
                color: #A2B0C5;
            }
        }
        
    }
   
    .gridUsers{
        display: flex;
        flex-wrap: wrap;
        margin: -20px;
        .mainVideo {
            flex-basis: 100%;
            > div{
                margin: 20px;
            }
            video {
                width: 100%;
                object-fit: scale-down;
                border-radius: 25px;
                overflow: hidden;
                border: 2px solid white;
                display: block;
            }
        }
        > div{
            flex-basis: 33.3333%;
            > div{
                margin: 20px;
            }
        }
        &.audience{
            margin: -10px;
            > div{
                flex-basis: 25%;
                > div{
                    margin: 10px;
                }
            }
        }
        h4{
            text-align: center;
            font-size: 12px;
            color: #777777;
            margin: 0;
            word-break: break-all;
        }
        .foto{
            margin-bottom: 10px;
            position: relative;
            .marco{
                border-radius: 25px;
                border: 2px solid transparent;
            }
            img{
                border-radius: 25px;
                display: block;
                border: 2px solid transparent;
            }
            .circulo{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 29px;
                height: 29px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                border-radius: 50%;
                border: 1px solid transparent;
                transition: all .1s ease-in-out;
            }
            --luminosidad: 43%;
        }
    }

    .multiplexed .foto .marco{
        border: 2px solid #00DC84;
    }
    .hablando .foto .marco{
        border: 2px solid hsl(156deg 100% var(--luminosidad));
        animation: pulse-green 0.8s infinite;
        animation-timing-function: ease-out;
    }
    .multiplexed .foto img{
        border: 2px solid white;
    }
    .multiplexed .circulo {
        background: #00DC84;
        box-shadow: 0 0 0 0 hsla(156deg, 100%, var(--luminosidad), 0.7);
        color: white;
    }
    .hablando .circulo {
        animation: zoom 0.8s infinite;
        animation-timing-function: ease-out;
        background: #00DC84;
        color: white;
    }
    .muteado .circulo {
        background: white;
        box-shadow: none;
        border-color: #A2B0C5 !important;
        color: #A2B0C5;
    }
    .muteado .foto .marco{
        border: 2px solid white;
    }

    .raised-hand .circulo, .raised-hand button {
        background: #FFA500;
        box-shadow: 0 0 0 0 #FFA500;
        color: white;
    }
       
    
    @keyframes pulse-green {
        0% {
            /*transform: scale(0.95);*/
            box-shadow: 0 0 0 0 hsla(156deg, 100%, var(--luminosidad), 0.7);
        }
        
        70% {
            /*transform: scale(1);*/
            box-shadow: 0 0 0 8px hsla(156deg, 100%, var(--luminosidad), 0.5);
        }
        
        100% {
            /*transform: scale(0.95);*/
            box-shadow: 0 0 0 0 hsla(156deg, 100%, var(--luminosidad), 0.7);
        }
    }
    @keyframes zoom {
        0% {
            transform: scale(0.95);
        }
        
        70% {
            transform: scale(1);
        }
        
        100% {
            transform: scale(0.95);
        }
    }

    .faldonFooter{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px;
        box-shadow: 0 -3px 6px rgba(0,0,0,0.06);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 9;
        border-radius: 25px 25px 0 0;
        background-color: white;
        .dcha{
            margin-left: auto;
        }
        .right-buttons{
            display: flex;
            margin: -5px;
            > div{
                margin: 5px;
            }
        }
    }
}