#pgRoomsList{
    .trianguloAbsolute{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
        height: 327px;
        width: 100%;
        transform: translateX(50%);
    }
    .trianguloAbsoluteElipse{
        position: absolute;
        top: 0;
        left: -61px;
        z-index: 0;
        height: 100px;
        width: 100%;
    }
    .estructuraFlex{
        padding: 35px 20px;
        position: relative;
        z-index: 2;
        height: 100%;
        .central{
            text-align: center;
            .icono{
                margin-bottom: 15px;
            }
            h2{
                font-size: 20px;
                font-weight: 600;
            }
            p{
                font-size: 16px;
                color: #777777;
            }
        }
    }
    .gridTarjetas{
        .tarjeta{
            border-radius: 25px;
            padding: 30px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.06);
            background-color: white;
            margin-bottom: 10px;
            .titulo{
                margin-bottom: 20px;
                h2{
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 0;
                    i{
                        color: var(--ion-color-primary);
                        margin-right: 6px;
                    }
                }
            }
            .cuerpo{
                display: flex;
                justify-content: space-between;
                > div{
                    flex-basis: 48%;
                }
                .usuarios{
                    ul{
                        margin-bottom: 0;
                        list-style: none;
                        font-size: 12px;
                        margin-top: 0;
                        padding: 0;
                    }
                }
                .fotos{
                    position: relative;
                    max-width: 101px;
                    img{
                        height: 58px;
                    }
                    .superpuesta{
                        position: absolute;
                        top: 10px;
                        right: -5px;
                        z-index: 2;
                    }
                }
                .videos{
                    > div{
                    position: relative;
                    display: inline-flex;
                        &:before{
                            font-family: 'Font Awesome 5 Pro';
                            content: '\f04b';
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            color: white;
                            font-size: 14px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: bold;
                        }
                    }
                }
                .badges{
                    display: flex;
                    margin: 5px -5px -5px -5px;
                    > div{
                        flex-basis: 50%;
                    }
                    > div > div{
                        margin: 5px;
                        display: flex;
                        align-items: center;
                    }
                    p{
                        color: var(--ion-color-primary);
                        font-size: 13px;
                        margin: 0 10px 0 0;
                    }
                }
            }
        }
    }
}