@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

ion-toolbar{
  --background: white;
  --border-width: 0;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --padding-start: 20px;
  --padding-end: 20px;
  --border-color: white;
}

ion-app, #dvSplashPWA{
  max-width: 392px;
  min-width: 320px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
  margin-top: 0 !important;
  color: #181818;
}
p{
  margin-top: 0;
}


body {  
    background-color: #f4f4f4 !important;
    font-family: var(--ion-font-family);
    line-height: 1.6;
    /*background-image: linear-gradient(to right top, #f2f2f2, #f4f4f4, #f7f7f7, #f9f9f9, #fcfcfc, #fcfcfc, #fcfcfc, #fcfcfc, #fafafa, #f8f8f8, #f6f6f6, #f4f4f4);*/
}
ion-content{
    background-color: white;
}
::-moz-selection {
  color: #fff !important;
  background: rgba(178, 105, 172, 0.55) !important;
}

::selection {
  color: #fff !important;
  background: rgba(178, 105, 172, 0.55) !important;
}
ion-app { 
  margin-top: env(safe-area-inset-top); 
  margin-bottom: env(safe-area-inset-bottom)  
}

.marginright{
  margin-right: 6px;
}

/* botones */
.btn{
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 2px solid transparent;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 25px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    line-height: 1.6;
    text-decoration: none;
  }
  .btn[disabled]{
    opacity: 0.7;
  }
  .btn.btn-lg{
    padding: 14px 26px;
    font-size: 16px;
  }
  .btn.btn-sm{
    padding: 4px 14px;
    font-size: 12px;
  }
  .btn.btn-primary{
    background-color: var(--ion-color-primary);
    color: white;
  }
  .btn.btn-primary:hover{
    background-color: var(--ion-color-primary-shade);
    color: white;
  }
  .btn-primary:focus {
    color: #fff;
    background-color: var(--ion-color-primary-shade);
    border-color: var(--ion-color-primary-shade);
    box-shadow: 0 0 0 0.2rem var(--ion-color-primary-tint);
  }
  .btn-light{
    background-color: white;
    color: var(--ion-color-primary);
  }
  .btn.btn-light:hover{
    background-color: var(--ion-color-light-shade);
    color: var(--ion-color-primary);
  }
  .btn.btn-light:focus{
    background-color: #e2e6ea;
    color: var(--ion-color-primary);
    box-shadow: 0 0 0 0.2rem #d8d9db80;
    border-color: var(--ion-color-light-shade);
    box-shadow: 0 0 0 0.2rem var(--ion-color-light-tint);
  }
  .btn.btn-redondeado{
    border-radius: 50%;
    min-width: initial;
    width: 36px;
    padding-left: 0;
    padding-right: 0;
  }
  .btn-default{
    background-color: #E7EBF1;
    color: #181818;
  }
  .btn.btn-secondary{
    background-color: var(--ion-color-secondary);
    color: white;
  }
  .btn.btn-secondary:hover{
    background-color: var(--ion-color-secondary-shade);
    color: white;
  }
  .btn-secondary:focus {
    color: #fff;
    background-color: var(--ion-color-secondary-shade);
    border-color: var(--ion-color-secondary-shade);
    box-shadow: 0 0 0 0.2rem var(--ion-color-secondary-tint);
  }
  .btn.btn-dark{
    border: 2px solid #111;
    color: white;
    background-color: #111;
  }
  .btn.btn-outline-dark{
    border: 2px solid #111;
    color: #111;
    background-color: transparent;
  }
  .btn.btn-outline-dark:hover{
    background-color: #111;
    border-color: #111;
    color: white;
  }
  .btn.btn-outline-dark:focus{
    background-color: #23272b;
    border-color: #1d2124;
    box-shadow: 0 0 0 0.2rem #52585d80;
    color: white;
  }
  
  .btn.btn-outline-primary{
    border: 2px solid var(--ion-color-primary);
    color: var(--ion-color-primary);
    background-color: transparent;
  }
  .btn.btn-outline-primary:hover{
    background-color: var(--ion-color-primary);
    border-color: var(--ion-color-primary);
    color: white;
  }
  .btn.btn-outline-primary:focus{
    background-color: var(--ion-color-primary);
    border-color: var(--ion-color-primary);
    box-shadow: 0 0 0 0.2rem var(--ion-color-primary-shade);
    color: white;
  }
  
  .btn:focus{
    outline: 0;
  }

.btn.withIcon{
    position: relative;
    padding-right: 38px;
    i{
        position: absolute;
        right: 16px;
        font-size: 16px;
        color: white;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
    }
}
.btn-translucent{
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
}
/* Fin botones */

  .w100{
    width: 100%;
  }

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 25px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control-lg {
    height: 56px;
    padding: 14px 26px;
    line-height: 1.6;
}
.mb10{
    margin-bottom: 10px !important;
  }
  .mt30{
    margin-top: 30px !important;
  }
  .mt10{
    margin-top: 10px !important;
  }
  .mt20{
    margin-top: 20px !important;
  }
  .ml5{
    margin-left: 5px;
  }
  .mr5{
    margin-right: 5px;
  }
  .mb20{
    margin-bottom: 20px !important;
  }
  .mb30{
    margin-bottom: 30px !important;
  }
  .text-center{
    text-align: center;
  }
  .input-group {
    position: relative;
    width: 100%;
}
.input-group-prepend {
    position: absolute;
    left: 20px;
    top:0;
    z-index: 2;
    bottom: 0;
}
.input-group-append, .input-group-prepend {
    display: flex;
}
.input-group-text {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    border-radius: 25px;
    color: var(--ion-color-primary);
    
}
.input-group .form-control {
    position: relative;
    padding-left: 60px;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #a18bd7;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(99 61 188 / 29%);
}

.gridBotoneraCabecera{
  display: flex;
  align-items: center;
  > div{
    margin-left: 15px;
  }
  .foto{
    img{
      height: 28px;
      border-radius: 7px;
      box-shadow: 0 7px 9px rgb(0 0 0 / 15%);
    }
  }
  .icono{
    img{
      width: 21px;
    }
  }
  .campana{
    position: relative;
    .circulo{
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      top: 1px;
      right: 0;
    }
    &.online{
      .circulo{
        background-color: #01D85E;
      }
    }
  }
}
.cabeceraInt{
  margin-bottom: 20px;
  h1{
    font-size: 24px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 0;
  }
  h2{
    font-size: 18px;
    font-weight: 600;
    color: #181818;
    margin-bottom: 0;
  }
}
.cabeceraInt.flex{
  display: flex;
  justify-content: space-between;
}
.boxPadding{
  padding: 20px;
  position: relative;
  z-index: 2;
}
.botonLink{
  color: var(--ion-color-primary);
  font-weight: 600;
  background: transparent;
  border: 0;
  font-size: 16px;
  i{
    margin-left: 8px;
  }
}

.img-fluid{
  width: 100%;
}

// Grid
.row{
  display: flex;
  margin: -20px;
  flex-wrap: wrap;
  > div {
      > div{
          padding: 20px;
      }
  }
  .col-md-6{
      flex-basis: 50%;
  }
  .col-md-12{
      flex-basis: 100%;
  }
  .col-md-8{
    flex-basis: 70%;
  }
  .col-md-4{
    flex-basis: 30%;
  }
}

.btnFixed{
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}
.toast{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 20px;
  transition: all .7s ease-in-out;
  opacity: 0;
  z-index: -1;
  .sup{
    display: flex;
  }
  .action{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  .icono{
    margin-right: 12px;
    margin-top: 4px;
  }
  .close{
    margin-left: 12px;
    margin-top: 4px;
  }
  i{
    font-size: 23px;
  }
  p{
    margin: 0;
    font-size: 14px;
  }
  &.success{
    background-color: #00DC84;
    color: white;
    .btn-light{
      color: #00DC84;
    }
  }
  &.warning{
    background-color: #f39c12;
    color: white;
  }
  &.error{
    background-color: #e74c3c;
    color: white;
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(8%);
  }

  65% {
    transform: translateY(-4%);
  }

  80% {
    transform: translateY(4%);
  }

  95% {
    transform: translateY(-2%);
  }

  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }

  50% {
    -webkit-transform: translateY(8%);
  }

  65% {
    -webkit-transform: translateY(-4%);
  }

  80% {
    -webkit-transform: translateY(4%);
  }

  95% {
    -webkit-transform: translateY(-2%);
  }

  100% {
    -webkit-transform: translateY(0%);
  }
}
.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  opacity: 1 !important;
  z-index: 99 !important;
}
.modalManual{
  position: fixed;
  z-index: 999;
  background-color: rgba(0,0,0, 0.6);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  width: 100%;
  .cuerpo{
    background-color: white;
    padding: 30px 20px 20px 20px;
    width: 100%;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.06);
    border-radius: 25px 25px 0 0;
    position: relative;
    max-height: 50vh;
    overflow-y: auto;
    .icoClose{
      position: absolute;
      top: 12px;
      right: 15px;
      font-size: 20px;
      color: #000000;
      background: transparent;
      border: 0;
      padding: 5px;
    }
    .cabeceraConFoto{
      display: flex;
      .foto{
        position: relative;
        img{
          display: block;
        }
        .circulo{
          position: absolute;
          bottom: 0;
          right: -10px;
          width: 29px;
          height: 29px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          border-radius: 50%;
          border: 1px solid transparent;
          transition: all .1s ease-in-out;
          background-color: #181818;
          color: white;
        }
      }
      .texto{
        margin-left: 16px;
        h2{
          font-size: 16px;
          font-weight: 600;
          margin: 0;
        }
      }
    }
    .cabecera{
      display: flex;
      .icono{
        padding-top: 2px;
      }
      .texto{
        margin-left: 16px;
        h2{
          font-size: 16px;
          font-weight: 600;
          margin: 0;
        }
        p{
          font-size: 12px;
          margin: 4px 0 0 0;
        }
      }
    }
    .action{
      margin-top: 20px;
      text-align: center;
      p{
        color: #777777;
        font-size: 12px;
      }
    }
    .gridInvitaciones{
      .tarjeta{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .foto img{
          display: block;
          height: 49px;
        }
        .izquierda > div{
          display: flex;
          align-items: center;
          h4{
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            font-size: 14px;
            margin: 0 0 0 10px;
          }
        }
        .derecha{
          button{
            margin-left: 5px;
          }
        }
      }
      > .tarjeta:not(:last-child){
        margin-bottom: 10px;
      }
    }
  }
  &.hidden{
    display: none;
  }
}